:root {

}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;

}

.header-nav-studio {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;

}

.header-nav-studio:hover {
    color: #404bbf;
}

.header-nav-studio:focus {
    color: #404bbf;
}

.adress {
    font-style: normal;
}

.adress-mail {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.adress-mail:hover {
    color: #404bbf;
}

.adress-mail:focus {
    color: #404bbf;
}

.link {
    text-decoration: none;
}

.span {
    color: #2e2f42;

}

.list {
    list-style: none;
}